/*-- scss:defaults --*/
// Fonts
// @import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@200..900&display=swap';
// // @import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@200..900&display=swap';
// // @import 'https://fonts.googleapis.com/css2?family=Roboto:wght@200..900&display=swap';

// // family=Roboto&family=Roboto+Condensed&
// // $font-family-serif: "Atkinson Hyperlegible", sans-serif;
// $font-family-sans-serif: 'Atkinson Hyperlegible';
// $headings-font-weight: 900 !default;


// Base document colors
$body-bg: #181825 !default;
$body-color: #cdd6f4 !default;
$link-color: #eba0ac !default;
$headings-color: #a6adc8 !default;
$code-color: #a6e3a1 !default;
$code-bg: #11111b !default;
$code-block-bg: $code-bg !default;
$btn-code-copy-colo: $code-bg !default;

// Box colors
:root {
    --box-bg: #242532;
    --box-border-color: $body-bg;
}

// Box class
@import '_box';