/*-- scss:defaults --*/

// Base document colors
$body-bg: #181825 !default;
$body-color: #cdd6f4 !default;
$link-color: #eba0ac !default;
$headings-color: #a6adc8 !default;
// $title-color:#74c7ec !default; 
$code-color: #a6e3a1 !default;
$code-bg: #11111b !default;
$code-block-bg: $code-bg !default;
$btn-code-copy-color: $code-bg !default;

// Navbar
$navbar-color: $code-bg !default;
$navbar-padding-y: 1.5rem !default;

// Box colors
:root {
    --box-bg: #242532;
    --box-border-color: $body-bg;
}

// Box class
@import '_box';

// Project button class
@import '_button';

/*-- scss:rules --*/
.title {
    color: $gray-700;
}

.navbar > .container-xxl, .navbar > .container-xl, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container, .navbar > .container-fluid {
    max-width: 1400px;
    margin: 0 auto;
  }


.card-project {
    color: $body-color;
    background-color: $code-block-bg;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.4rem
}
