/*-- scss:defaults --*/

// Navbar
$navbar-color: #f5e0dc !default;
$navbar-padding-y: 1.5rem !default;

// Box colors
:root {
    --box-bg: ghostwhite;
    --box-border-color: lightgray;
}

// Box class
@import '_box';


/*-- scss:rules: --*/

.navbar > .container-xxl, .navbar > .container-xl, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container, .navbar > .container-fluid {
  max-width: 1400px;
  margin: 0 auto;
}
